/*** FINDE Custom ***/

body {
  &.menu-opened {
    overflow: hidden;
  }
}

body.home {
background: #009aae;
}
[class*=shadow] {
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[class*=hover-] {
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
h1 {
  font-size: 3rem;
  @media (max-width: 767.98px) {
    font-size: 2rem;
  }
  font-weight: bold;
}
.home .card {
  background:transparent;
  border: solid 1px #ffffff75;
  &.shadow {
    -webkit-box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
      box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
      &:hover {
      -webkit-transform: translateY(-10px) !important;
      -ms-transform: translateY(-10px) !important;
      transform: translateY(-10px) !important;
          -webkit-box-shadow: 0 1rem 3rem rgba(31, 45, 61, 0.125) !important;
      box-shadow: 0 1rem 3rem rgba(31, 45, 61, 0.125) !important;
    }
  }
}

/*** header ***/
header.main-header {
  background:#009aae;
  a.nav-link.active {
    font-weight: bold;
  }
  .navbar {
  }
}
.search-form {
  .screen-reader-text {
    display: none;
  }
  &>label {
    margin-bottom: 0;
  }
  input.search-field {
    border-radius: 4px;
    border: 0;
    padding: 4px 10px;
    background: rgb(230, 230, 230);
  }
  button.search-submit {
    background: rgb(230, 230, 230);
    border: 0;
    border-radius: 4px;
    padding: 4px 10px;
    color: #747474;
  }
}
.not-found .search-form input.search-field {
  border:solid 1px #CCC;
}
.redes i.fab,
.redes span.fab {
    padding: 7px 2px;
}
/*** footer ***/
footer {
  overflow: hidden;
  .list-unstyled {
    li {
      margin-bottom: 0.25rem;
    }
  }
  img.logo-cultura {
    width: 280px;
  }
}
.site-footer {
  background:#009aae;
}

/*** SLIDE ***/
.carousel {
  .carousel-inner {
    .carousel-item {
      min-height: 500px;
      background-size:cover;
      background-position:center center;
      .carousel-caption {
        bottom: 20%;
        width: 40%;
        @media (max-width: 767.98px) {
          width: 70%;
        }
        a.arrows {
          padding: .2rem .8rem;
          font-size: 2rem;
          background: #009aae;
          display: inline-block;
          font-weight: bold;
          color: #FFF;
          &:hover {
            text-decoration: none;
          }
        }
        .info {
          background:#FFF;
          padding:1rem;
          color: #7b7b7b;
          h1 a {
            margin-top: 2rem;
            font-weight: bold;
            color: #7b7b7b;
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

/*** catalogo isotope ***/
.grid-sizer,
.grid-item { 
  width: 20%;
  @media (min-width: 320px) and (max-width: 479px) {
    width: 100%;
  }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    width: 50%;
  }
  @media only screen and (min-width: 768px) and (max-width: 979px) {
    width: 33%;
  }
  padding:8px; 
}
/* 2 columns wide */
.grid-item--width2 { width: 38%; }

#catalogo {
  .item {
    .over-content .text{
      font-size: .8rem;
    }
    h5.card-title {
      margin-bottom: .5rem;
    }
  }
}



/*** CARD **/
.grid-item-content.card {
  .card-body {
    .rubro {
      font-size: .75rem;
      span {
        &:after {
          content: " / ";
        }
      }
    } 
  } 
}
.card .card-text {
  font-size: .75rem;
}
.card a.os {
  position: relative;
  z-index: 2;
}


/*** AGENDA HOME ***/
#agenda {
  .bg-image {
    height: 140px;
  }
  .col.destacado {
    flex: 0 0 60%;
    max-width: 60%!important;
    > div {
      height: 100%;
    }
  }
}
/*** AGENDA ARCHVE ***/
.spotlight {
  position: relative;
  &.bg-size--cover {
    background-size: cover;
  }
  &.bg-cover {
    position: relative;
    background-repeat: no-repeat;
  }
  .spotlight-holder {
    height: 100%;
    position: relative;
    .mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
         + .container {
            position: relative;
        }
    }
    .opacity-6, .hover-opacity-6:hover, 
    .opacity-container:hover .hover-opacity-6 {
        opacity: 0.6;
    }
    .bg-gradient-primary {
        background: -o-linear-gradient(40deg, #054048 0, #009aae 100%) !important;
        background: linear-gradient(50deg, #054048 0, #009aae 100%) !important;
    }
    .container {
      height: 100%;
      
      .info {
        position: absolute;
        bottom: 2rem;
        h1.extra-grande {
            font-size: 4rem;
            font-weight: bold;
        }
      }
    }
  }
}





/*** branding-header ***/
.branding-header {
  position:relative;
  text-align: center;
  background:#009aae;
  h1.entry-title.extra-grande {
    font-size: 4rem;
    font-weight: bold;
  }
  .mini-profile-img {
    position: absolute;
    left: calc(50% - 3rem);
    border: 3px solid #fff;
    border-radius: 100%;
    box-shadow: 0px 0px 0 5px rgba(0, 0, 0, 0.1);
    height: 6rem;
    width: 6rem;
    background-size: cover;
    bottom: -3rem;
  }
  .line {
    height: 1px;
    background: #cccccc4d;
    margin: 15px 0;
  }
}

/*** beauty checkbox ***/
@supports(-webkit-appearance: none) or (-moz-appearance: none) {
  input[type='checkbox'],
  input[type='radio'] {
    --active: #009aae;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, .3);
    --border: #BBC1E1;
    --border-hover: #009aae;
    --background: #fff;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background .3s, border-color .3s, box-shadow .2s;
    &:after {
      content: '';
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
    }
    &:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: .3s;
      --d-t: .6s;
      --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }
    &:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: .9;
      &:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
      }
      & + label {
        cursor: not-allowed;
      }
    }
    &:hover {
      &:not(:checked) {
        &:not(:disabled) {
          --bc: var(--border-hover);
        }
      }
    }
    &:focus {
      box-shadow: 0 0 0 var(--focus);
    }
    &:not(.switch) {
      width: 21px;
      &:after {
        opacity: var(--o, 0);
      }
      &:checked {
        --o: 1;
      }
    }
    & + label {
      font-size: 14px;
      line-height: 21px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      margin-left: 4px;
      cursor: pointer;
    }
  }
  input[type='checkbox'] {
    &:not(.switch) {
      border-radius: 7px;
      &:after {
        width: 5px;
        height: 9px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 7px;
        top: 4px;
        transform: rotate(var(--r, 20deg));
      }
      &:checked {
        --r: 43deg;
      }
    }
    &.switch {
      width: 38px;
      border-radius: 11px;
      &:after {
        left: 2px;
        top: 2px;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background: var(--ab, var(--border));
        transform: translateX(var(--x, 0));
      }
      &:checked {
        --ab: var(--active-inner);
        --x: 17px;
      }
      &:disabled {
        &:not(:checked) {
          &:after {
            opacity: .6;
          }
        }
      }
    }
  }
  input[type='radio'] {
    border-radius: 50%;
    &:after {
      width: 19px;
      height: 19px;
      border-radius: 50%;
      background: var(--active-inner);
      opacity: 0;
      transform: scale(var(--s, .7));
    }
    &:checked {
      --s: .5;
    }
  }
  label {
      cursor: pointer;}
}

/*Timer*/
#clock {
  li {
    display: inline-block;
    font-size: 1.2em;
    font-weight: 300;
    list-style-type: none;
    padding: .9em;
    text-transform: uppercase;
    @media (max-width: 767.98px) {
      font-size: .7em
    }
  }
  li span {
    display: block;
    font-size: 4rem;
    line-height: 1;
    @media (max-width: 767.98px) {
      font-size: 3.5em
    }
  }
}

.card .icon {
  max-width: 60px;
}


